<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SevenPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>837E1BCE1DDD944E0080ECE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>837E1BE21DDD944F0080ECE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>837E1BED1DDD944F0080ECE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
